<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3"><i class="fa fa-circle">&nbsp;</i>View Data</p>
        </div>
    </div>
</div>
<div class="contaoner">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Tourist First Name: <span class="fw-bold">ABC</span></li>
                <li class="list-group-item list-group-item-success">Tourist Last Name: <span class="fw-bold">PQR</span></li>
                <li class="list-group-item list-group-item-success">Date of Arrival: <span class="fw-bold">12/12/2021</span></li>
                <li class="list-group-item list-group-item-success">Contact Number: <span class="fw-bold">989898989</span></li>
            </ul>
            <div class="row mt-5">
                <div class="col">
                    <a routerLink="/" class="btn bg-secondary text-white"><i class="fa
                        fa-arrow-alt-circle-left">&npar;</i> Back</a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>